name: counter_example
description: Level 1 Reacton example - Counter app
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_reacton:
    path: ../../packages/flutter_reacton

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
